:root {
    --cor-fundo-primaria: #282a36;
    --cor-fundo-secundaria: #44475a; 
    --cor-primaria: #ff5555;
    --cor-secundaria: #ff79c6;
    --cor-terciaria: #bd93f9;
    --cor-quartenaria: #fcae11;
    --cor-texto-paragrafos: #ffffff;
}

html{
    scroll-behavior: smooth;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body{
    background-color: #282a36;
    margin: 25px 50px;
    text-align: justify;
}

.titulo-da-pagina{
   color:#ff5555;
   line-height: 3;
   font-weight: bold;
   font-size: 24pt; 
}

.titulo-de-artigo{
    color: #ff79c6;
    line-height: 3;
    font-weight: bold;
    font-size: 22pt;
}

.sub-titulo{
    color: #bd93f9;
    line-height: 2;
    font-weight: bold;
    font-size: 20pt;
    font-style: italic;
    margin-bottom: 10px;
}

.voltar-ao-inicio{
    color: #fcae11;
    line-height: 2;
    font-weight: bold;
    font-size: 15pt;
}

.menu-principal ul{
    background-color: var(--cor-fundo-secundaria);
}

.menu-principal a{
    color: var(--cor-quartenaria);
}

.menu-principal li{
    margin: 20px 10px;
}

.paragrafo-blockquote + p{
    padding-top: 0px;   
}
/*.caminhos{
    color: #fcae11;
    line-height: 2;
    font-weight: bold;
    font-size: 15pt;
}
*/

.caminhos:hover{
    text-decoration: overline ;
}

.link-externo{
    color: #fcae11;
    line-height: 2;
    font-weight: bold;
    font-size: 10pt;
}

.paragrafro-de-artigo{
    background-color: #44475a;
    padding: 20px;
}

p{
    background-color: #44475a;
    color: #6272a4;
    line-height: 1.5;
    font-size: 15pt;
    padding: 20px;
}

figure{
    background-color: white;
    text-align: center;
}

img{
    width: 15vw;

}

article{
    margin: 20px 0px;
    border: 4px solid #ff5555;
    padding: 20px;
    border-radius: 25px;
}


/*

*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
    color: #f8f8f2;
    background-color: #282a36; 
    text-align: center;
    align-items: center;
}

html {
    scroll-behavior: smooth; 
    
}



h2 {
    color: #ff79c6;
}

h3{
    color: #bd93f9
}

a{
    text-decoration: none;
    color: #fcae11;
}

ul{
    list-style-type: none;
}
*/